<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-for with v-if</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <p>当它们处于同一节点，v-for 的优先级比 v-if 更高，这意味着 v-if 将分别重复运行于每个 v-for 循环中。当你想为仅有的一些项渲染节点时，这种优先级的机制会十分有用，如下：</p>
    <ul id="obj1">
        <li v-for="todo in todos" v-if="!todo.isComplete">
            {{ todo }}
        </li>
    </ul>
    <script>
        var obj1 = new Vue({
            el : '#obj1',
            data : {
                todos : [ 1,2,3,4,5,6,7]
            }
        })
    </script>
    <p>上面的代码只传递了未完成的 todos。</p>
    <p>而如果你的目的是有条件地跳过循环的执行，那么可以将 v-if 置于外层元素 (或 &lt;template&gt;)上。如：</p>
    <div id="obj2">
        <ul v-if="todos.length">
            <li v-for="todo in todos">
                {{ todo }}
            </li>
        </ul>
        <p v-else>No todos letf!</p>
    </div>
    <script>
        var obj = new Vue({
            el : '#obj2',
            data : {
                todos : {
                }
            }
        })
    </script>
</body>

</html>