<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>条件与循环</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <h1>条件与循环</h1>
    <div id="app-3">
        <p v-if="seen">现在你看到了我</p>
    </div>
    <script type="text/javascript">
        var app3 = new Vue({
            el : '#app-3',
            data : {
                seen : true 
            }
        })
    </script>
    <p>继续在控制台输入 app3.seen = false，你会发现之前显示的消息消失了</p>
    <hr/>
    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{todo.text}}
            </li>
        </ol>
    </div>
    <script type="text/javascript">
        var app4 = new Vue({
            el : '#app-4',
            data : {
                todos : [
                    { text : '学习 JavaScript'},
                    { text : '学习Vue'},
                    { text : '整个项目'}
                ]
            }
        })
    </script>
    <p>在控制台里，输入 app4.todos.push({ text: '新项目' })，你会发现列表最后添加了一个新项目。</p>
</body>
</html>