<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>通过事件向父级组件发送消息</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <p>在我们开发 <blog-post> 组件时，它的一些功能可能要求我们和父级组件进行沟通。例如我们可能会引入一个可访问性的功能来放大博文的字号，同时让页面的其它部分保持默认的字号。</p>
    <p>它可以在模板中用来控制所有博文的字号：</p>
    <div id="blog-posts-events-demo">
        <div :style="{ fontSize: postFontSize + 'em' }">
            <blog-post v-for="post in posts" v-bind:key="post.id" v-bind:post="post">post</blog-post>
        </div>
    </div>
    <p>在其父组件中，我们可以通过添加一个 postFontSize 数据属性来支持这个功能：</p>
    <script>
        new Vue({
            el : '#blog-posts-events-demo',
            data : {
                posts : [],
                postFontSize : 1
            }
        })
    </script>
    <p>现在我们在每篇博文正文之前添加一个按钮来放大字号：</p>
    <script>
        Vue.component('blog-post',{
            props : ['post'],
            template: '<div class="blog-post"> <h3>{{ post.title }}</h3> <button> Enlarge text </button><div v-html="post.content"></div></div>'
        })
    </script>
    <p>问题是这个按钮不会做任何事：</p>
    <button >Enlarge text</button>
    <p>当点击这个按钮时，我们需要告诉父级组件放大所有博文的文本。幸好 Vue 实例提供了一个自定义事件的系统来解决这个问题。我们可以调用内建的 $emit 方法并传入事件的名字，来向父级组件触发一个事件：</p>
    <button v-on:click="$emit('enlarge-text')">Enlarge text</button>
    <p>然后我们可以用 v-on 在博文组件上监听这个事件，就像监听一个原生 DOM 事件一样：</p>
    <blog-post v-on:enlarge-text="postFontSize += 0.1">ABCDEFG</blog-post>
    <h1>使用事件抛出一个值</h1>
    <p>有的时候用一个事件来抛出一个特定的值是非常有用的。例如我们可能想让 <blog-post> 组件决定它的文本要放大多少。这时可以使用 $emit 的第二个参数来提供这个值：</p>
    <button v-on:click="$emit('enlarge-text',0.1)">Enlarge text</button>
    <p>然后当在父级组件监听这个事件的时候，我们可以通过 $event 访问到被抛出的这个值：</p>
    <blog-post v-on:enlarge-text="postFontSize += $event"></blog-post>
    <p>或者，如果这个事件处理函数是一个方法：</p>
    <blog-post v-on:enlarge-text="onEnlargeText"></blog-post>
    <p>那么这个值将会作为第一个参数传入这个方法：</p>
    <script>
        new Vue({
            methods : {
                onEnlargeText : function(enlargeAmount){
                    this.postFontSize += enlargeAmount;
                }
            }
        })
    </script>
    <h1>在组件上使用v-model</h1>
    <p>自定义事件也可以用于创建支持 v-model 的自定义输入组件。记住：</p>
    <input v-model="searchText"/>
    <p>等价于：</p>
    <input v-bind:value="searchText" v-on:input="searchText = $event.target.value"/>
    <p>当用在组件上时，v-model 则会这样:</p>
    <custom-input v-bind:value="searchText" v-on:input="searchText = $event"></custom-input>
    <p>为了让它正常工作，这个组件内的 <input> 必须：</p>
    <p>1.将其 value 特性绑定到一个名叫 value 的 prop 上</p>
    <p>2.在其 input 事件被触发时，将新的值通过自定义的 input 事件抛出</p>
    <p>写成代码之后是这样的：</p>
    <script>
        Vue.component('custom-input',{
            props: ['value'],
            template : '<input v-bind:value="value" v-on:input="$emit(\'input\', $event.target.value)" />'
        })
    </script>
    <p>现在 v-model 就应该可以在这个组件上完美地工作起来了：</p>
    <p>到目前为止，关于组件自定义事件你需要了解的大概就这些了，如果你阅读完本页内容并掌握了它的内容，我们会推荐你再回来把自定义事件读完。</p>
</body>
</html>